<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>prefix</key>
		<string>ta</string>
		<key>label</key>
		<string>た</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>ti</string>
		<key>label</key>
		<string>ち</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>tu</string>
		<key>label</key>
		<string>つ</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>te</string>
		<key>label</key>
		<string>て</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>to</string>
		<key>label</key>
		<string>と</string>
	</dict>
</array>
</plist>
