<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>prefix</key>
		<string>a</string>
		<key>label</key>
		<string>あ</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>i</string>
		<key>label</key>
		<string>い</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>u</string>
		<key>label</key>
		<string>う</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>e</string>
		<key>label</key>
		<string>え</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>o</string>
		<key>label</key>
		<string>お</string>
	</dict>
</array>
</plist>
