<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>prefix</key>
		<string>sa</string>
		<key>label</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>si</string>
		<key>label</key>
		<string>し</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>su</string>
		<key>label</key>
		<string>す</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>se</string>
		<key>label</key>
		<string>せ</string>
	</dict>
	<dict>
		<key>prefix</key>
		<string>so</string>
		<key>label</key>
		<string>そ</string>
	</dict>
</array>
</plist>
